PORT=3000
MONGO_URI=mongodb://localhost:27017/backend-task
KAFKA_BROKERS=localhost:9092
NODE_ENV=development

# Docker
DOCKER_PORT=3000
DOCKER_MONGO_URI=mongodb://backendtask:secret@mongo:27017/backend-task?authSource=admin
DOCKER_MONGO_USER=backendtask
DOCKER_MONGO_PASS=secret
DOCKER_KAFKA_BROKERS=kafka:9092
